h1 Experiment Description
h1

p This survey consists of four parts and investigates how people learn. First, you will be asked to take a short test to evaluate your knowledge about semi-automatic espresso machines. This section is timed and will take at most 10 minutes.

p Next, you will watch a few short videos about espresso machines. This portion will take at most 10 minutes. After this portion you will be asked questions related to the videos. You will be given at most 3 minutes per question. There will be 10 questions total.

p Finally, you will be asked to take a quiz to assess knowledge about espresso machines. This portion will be timed and you will have at most 10 minutes. You will have an opportunity to pause in between sections. 
